{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thunder Typer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'typer/css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'typer/images/favicon.ico' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'menu' %}">
                <img src="{% static 'typer/images/favicon.ico' %}">
                Thunder Typer
            </a>
        </nav>
    </header>
    <main>
        <img src="{% static 'typer/images/thunder1.png' %}" class="thunder">
        {% block content %}{% endblock %}
        <img src="{% static 'typer/images/thunder2.png' %}" class="thunder">
    </main>
    <footer>
        &copy; 2025 Mohammed Ismail. All rights reserved.
    </footer>
</body>
</html>